{{ if .Site.Params.widgets.tag_cloud }}
{{ if isset .Site.Taxonomies "tags" }}
{{ if not (eq (len .Site.Taxonomies.tags) 0) }}
<div class="widget-wrap">
    <h3 class="widget-title">
        {{with .Site.Data.l10n.widgets.tag_cloud.title}}{{.}}{{end}}
    </h3>
    <div class="widget tagcloud">
        {{ range $name, $items := .Site.Taxonomies.tags }}
        {{ $url := printf "%s/%s" "tags" ($name | urlize | lower)}}
        <a href="{{ $url | absURL }}{{ if $.Site.Params.uglyURLs }}.html{{end}}" style="font-size: 12px;">{{ $name }}</a>
        {{ end }}
    </div>
</div>
{{ end }}
{{ end }}
{{ end }}
