{{ if .Site.Params.widgets.tags }}
{{ if isset .Site.Taxonomies "tags" }}
{{ if not (eq (len .Site.Taxonomies.tags) 0) }}
<div class="widget-wrap">
    <h3 class="widget-title">
        {{ with .Site.Data.l10n.widgets.tags.title }}{{.}}{{end}}
    </h3>
    <div class="widget">
        <ul class="category-list">
            {{ range $name, $items := .Site.Taxonomies.tags }}
            <li class="category-list-item">
                {{ $url := printf "%s/%s" "tags" ($name | urlize | lower)}}
                <a class="category-list-link" href="{{ $url | absURL }}{{ if $.Site.Params.uglyURLs }}.html{{end}}">
                    {{ $name }}
                </a>
                <span class="category-list-count">{{ len $items }}</span>
            </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}
{{ end }}
{{ end }}
